//header部分
.headerSF{
    width: 100%;
    height: 650px;
    background: url(../img/03.jpg);
    background-size: 100% 649px;
    .shuzi{
        color: #666666;
        text-align: center;
         margin-top: 330px;
        >span{
            color: #37ebea;
            font-size: 35px;
        }
    }
    .at_once{
        color: white; 
        width: 300px; 
        border: 2px solid white; 
        margin: 20px auto;
        border-radius: 50px; 
        font-size: 20px; 
        padding: 5px 60px;
    }
    .sankai{
        .sankaiGlobal
    }  
}
.huanyuan{
        position: fixed; 
        width:100%; 
        top: 597px; 
        z-index: 500; 
        background: #071e4a; 
        width: 100%; 
    }
@media screen and (max-width:500px){
           .huanyuan{
           position: fixed; left: 110px;
           }
        }
//三开效果
@keyframes warn {

    0% {
        transform: scale(0);
        opacity: 0.1;
    }
    25% {
        transform: scale(0);
        opacity: 0.3;
    }
    50% {
        transform: scale(0.1);
        opacity: 0.5;
    }
    75% {
        transform: scale(0.5);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
.sankai {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 50px;
    z-index: 1;
    opacity: 0;
    -webkit-animation: warn 1s ease-out;
    -moz-animation: warn 1s ease-out;
    animation: warn 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.baikuang{
    color: white; 
    width: 300px; 
    border: 2px solid white; 
    margin: 20px auto;
    border-radius: 50px; 
    font-size: 20px; 
    padding: 5px 0;
    }
 .sankaiGlobal{
    width: 300px; 
    height: 40px;
    background: white;
    margin: 20px auto;
    margin-top: -63px;
    z-index: -100;
}
//pc网站
.pcInternet{
    width: 100%;
    height: 650px;
    background: url(../img/04.jpg);
    background-size: 100% 649px;
    margin-top: -1px;
    position: relative;
    .fade1{
        margin-top: 470px;
        display: none;
    }
    p{
        .baikuang;
    }
    .sankai{
        .sankaiGlobal
    }
}
// 一键建站
.yijian{
    width: 100%;
    height: 650px;
    background: url(../img/05.jpg);
    background-size: 100% 649px;
    margin-top: -5px;
    position: relative;
    .fade2{
        margin-top: 470px;
        display: none;
    }
    .yijian1{
        .baikuang;
    }
    .sankai{
        .sankaiGlobal
    }
    }
// 千套成品
.qiantao{
    width: 100%;
    height: 650px;
    background: url(../img/06.jpg);
    background-size: 100% 649px;
    margin-top: -5px;
    position: relative;
    .fade3{
        margin-top: 470px;
        display: none;
    }
    .qiantao1{
       .baikuang;
    }
    .sankai{
        .sankaiGlobal
    }
    }
//百度气球 
.footerBaidu{
    width: 100%;
    height: 650px;
    background: url(../img/07.png);
    background-size: 100% 649px;
    margin-top: -5px;
    position: relative;
    .fade4{
        margin-top: 440px;
        display: none;
    }
    .baidu1{
        .baikuang;
    }
    .sankai{
        .sankaiGlobal
    }
    }
    
//免费搭建
.mianfei{
    width: 100%;
    height: 650px;
    background: url(../img/08.png);
    background-size: 100% 649px;
    margin-top: -5px;
    position: relative;
    .fade5{
        margin-top: 380px;
        display: none;
    }
    .mianfei1{
        .baikuang;
    }
    .sankai{
        .sankaiGlobal
    }
    }
//  最后一部分
.Last{
    width: 100%;
    height: 650px;
    background: url(../img/09.jpg);
    background-size: 100% 649px;
    margin-top: -5px;
    position: relative;
    .fade6{
        margin-top: 350px;
        display: none;
    }
    .fade7{
         margin-top: 250px;
         display: none;
    }
     .Last1{
        .baikuang;
    }
    .sankai{
        .sankaiGlobal
    }
}  
//  箭头抖动
#gunlun{
    animation: down 0.5s ease-in-out 1s infinite alternate;
}
@keyframes down{
    from{
        transform: translate(0,0)
        }
    to{
        transform: translate(0,6px)
    }
}

