body,html{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 1.42857143;
	color: #393939;
}
table,tr,td{
	border: 1px solid #666;
}
.main img{
    max-width: 100%;
    height: auto !important;
}
.tag_main{
	display: block;
}
.tag_main h2{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
    width: 60px;
    text-align: center;
    background: #af0000;
    color: #fff;
    margin-bottom: 10px;
}
.tag_main ul li{
    float: left;
    width: auto !important;
    display: inline-block !important;
    margin: 0 18px 18px 0;
}
.tag_main ul li a{
	 padding: 0 11px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #cfcfcf;
    font-size: 14px;
    display: block;
    color: #888;
    text-align: center;
    float: left;
}
a:hover,
a:foucu{
	text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p {
	line-height: 1.42857143;
	font-family: "微软雅黑";
	margin: 0px;
	padding: 0px;
}

a:link,
a:visited {
	color: #555;
	text-decoration: none;
}

@font-face {
	font-family: 'iconfont_footer';
	/* project id 325027 */
	src: url('//at.alicdn.com/t/font_cfzl3onswxdjwcdi.eot');
	src: url('//at.alicdn.com/t/font_cfzl3onswxdjwcdi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_cfzl3onswxdjwcdi.woff') format('woff'), url('//at.alicdn.com/t/font_cfzl3onswxdjwcdi.ttf') format('truetype'), url('//at.alicdn.com/t/font_cfzl3onswxdjwcdi.svg#iconfont') format('svg');
}

.iconfont_footer {
	font-family: iconfont_footer;
	font-style: normal;
}

.m_footer {
	display: none;
}

ul {
	padding: 0px;
	height: auto;
	overflow: hidden;
	margin-bottom: 0px;
}

ul li {
	list-style: none;
}

.clear {
	clear: both;
	display: block;
}


/**/


/*icon图标*/

@font-face {
  font-family: 'iconfont_bq';  /* project id 336425 */
  src: url('//at.alicdn.com/t/font_336425_lyb7c2wsf6979zfr.eot');
  src: url('//at.alicdn.com/t/font_336425_lyb7c2wsf6979zfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_336425_lyb7c2wsf6979zfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_336425_lyb7c2wsf6979zfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_336425_lyb7c2wsf6979zfr.svg#iconfont') format('svg');
}


/*icon图标引用*/

.iconfont_bq {
	font-family: "iconfont_bq";
	font-style: normal;
}
@font-face {
  font-family: 'iconfont_dl';  /* project id 493882 */
  src: url('//at.alicdn.com/t/font_493882_6diawaeyxpdmfgvi.eot');
  src: url('//at.alicdn.com/t/font_493882_6diawaeyxpdmfgvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_493882_6diawaeyxpdmfgvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_493882_6diawaeyxpdmfgvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_493882_6diawaeyxpdmfgvi.svg#iconfont') format('svg');
}
.iconfont_dl {
	font-family: "iconfont_dl";
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
}
/*诚招代理开始*/
.dl_banner{
	display: block;
	overflow: hidden;
}
img{
	max-width: 100%;
	height: auto !important;
}
.dl_container{
	width: 1100px;
	margin: 0 auto;
}
.dl_se1{
	display: block;
	padding: 35px 0;
}
.dl_se1 ul li{
	display: block;
	width: 23.333%;
	float: left;
	overflow: hidden;
	min-height: 369px;
	background: #f4f4f4;
	text-align: center;
	margin: 0 5%;
}
.dl_se1 ul li h5{
	position: relative;
	font-size: 18px;
	color: #fff;
	padding: 20px 0 0 0;
	font-weight: bold;
	margin-bottom: 15px;
	z-index: 1;
}
.dl_se1 ul li h5::before{
	content: " ";
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	transition: .3s;
	height: 110px;
	z-index: -1;
	background: #999;
}
.dl_se1 ul li h5::after{
	content: " ";
	position: absolute;
	width: 100%;
	top: -110px;
	z-index: -1;
	left: 0;
	transition: .8s;
	height: 110px;
	background: #AF0000;
	
}
.dl_se1 ul li span{
	display: block;
	width: 108px;
	height: 108px;
    z-index: 1;
    position: relative;
	border-radius: 50%;
	transition: .8s;
	margin: 0 auto;
	text-align: center;
	background: url(../images/dl_se1_span_bg.png) no-repeat center;
}
.dl_se1 ul li span i{
    font-size: 36px;
    color: #999;
    line-height: 108px;
    transition: .8s;
}
.dl_se1 ul li p{
	font-size: 14px;
	color: #a1a1a1;
	padding: 20px 30px;
	text-align: left;
	line-height: 1.68;
}
.dl_se1 ul li.active h5::before{
	top: -110px;
}
.dl_se1 ul li.active h5::after{
	top: 0;
}
.dl_se1 ul li.active span{
	transform: rotateY(360deg);
}
.dl_se1 ul li.active span i{
	color: #AF0000;
}
.dl_se2{
	display: block;
	background: url(../images/dl_se2_bf.png) no-repeat center top;
	padding: 50px 0;
}
.dl_title{
	display: block;
	text-align: center;
	background: url(../images/dl_se2_title_bg.png) no-repeat center 25px;
	font-size: 32px;
	color: #AF0000;
	font-weight: bold;
	margin-bottom: 50px;
}
.dl_se2_main{text-align: center;}
.dl_se2_main p{
	display: block;
	font-size: 16px;
	color: #7f7f7f;
	line-height: 1;
	margin-bottom: 15px;
}
.dl_se2_main a{
	display: inline-block;
	margin-top: 30px;
	padding: 12px 30px;
	background: #AF0000;
	color: #fff;
	border: 1px solid #AF0000;
	transition: .8s;
	font-size: 16px;
}
.dl_se2_main a i{
	margin-right: 5px;
}
.dl_se2_main a:hover{
	color: #999;
	background: transparent;
	border: 1px solid #999;
}
.dl_se3{
	display: block;
	padding: 30px 0;
}
.dl_se3_main_l{
	width: 45%;
	float: left;
}
.dl_se3_main_r{
	width: 52%;
	float: right;
}
.dl_se3_main_r ul li{
	width: 32.33%;
	float: left;
	margin-bottom: 10px;
	padding: 13px 5px;
	transition: .5s;
	text-align: center;
	position: relative;
	overflow: hidden;
	z-index: 1;
	box-shadow: 1px 1px 1px 1px #C0C0C0;
}
.dl_se3_main_r ul li::before{
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	background: #AF0000;
	transition: .5s;
	z-index: -1;
}
.dl_se3_main_r ul li.active::before{
	top: 0;
}
.dl_se3_main_r ul li:nth-child(3n+2){
	margin: 0 1.5% 10px 1.5%;
}
.dl_se3_main_r ul li:nth-of-type(4),
.dl_se3_main_r ul li:nth-of-type(5),
.dl_se3_main_r ul li:nth-of-type(6){
	margin-bottom: 2px;
}
.dl_se3_main_r ul li.active{
	box-shadow: 0;
}
.dl_se3_main_r ul li.active span i,
.dl_se3_main_r ul li.active p{
	color: #fff;
}
.dl_se3_main_r ul li span{
	display: block;
	margin-bottom: 15px;
}
.dl_se3_main_r ul li span i{
	font-size: 30px;
	color: #7a7a7a;
	transition: .5s;
}
.dl_se3_main_r ul li p{
	font-size: 14px;
	transition: .5s;
	color: #a5a5a5;
}
.dl_se4{
	display: block;
	padding: 40px 0;
	background: url(../images/dl_se4_bg.png) repeat-y center top;
	text-align: center;
}
.dl_se4 h5{
	font-size: 32px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 20px;
}
.dl_se4 p{
	font-size: 20px;
	color: #fff;
	margin-bottom: 15px;
	
}
.dl_se5{
	display: block;
	padding: 50px 0;
}
.dl_se5 ul li{
	width: 19%;
	float: left;
	background: #f4f5f9;
	margin-right: 1.25%;
	text-align: center;
}
.dl_se5 ul li:nth-of-type(5){
	margin-right: 0;
}
.dl_se5 ul li h5{
	padding-top: 20px;
	position: relative;
    font-size: 16px;
    color: #fff;
    z-index: 1;
}
.dl_se5 ul li h5::before{
	content: " ";
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	transition: .3s;
	height: 110px;
	z-index: -1;
	background: #999;
}
.dl_se5 ul li h5::after{
	content: " ";
	position: absolute;
	width: 100%;
	top: -110px;
	z-index: -1;
	left: 0;
	transition: .8s;
	height: 110px;
	background: #AF0000;
	
}
.dl_se5 ul li span{
	display: block;
	width: 108px;
	height: 108px;
    z-index: 1;
    position: relative;
    padding-top: 30px;
	border-radius: 50%;
	transition: .8s;
	margin: 0 auto;
    font-size: 18px;
    color: #999;
    margin-top: 18px;
    padding-top: 30px;
    font-weight: bold;
	text-align: center;
	background: url(../images/dl_se1_span_bg.png) no-repeat center;
}
.dl_se5 ul li .dl_se5_li{
	margin: 15px 0 30px 0;
}
.dl_se5 ul li .dl_se5_li p{
	
    margin-bottom: 8px;
    line-height: 1.46;
}
.dl_se5 ul li:hover h5::before{
	top: -110px;
}
.dl_se5 ul li:hover h5::after{
	top: 0;
}
.dl_se5 ul li:hover span{
	color: #AF0000;
}
.dl_se6{
	display: block;
	padding: 50px 0;
}
.dl_se6_main{
	display: block;
	background: url(../images/dl_se6_main_bg.png) no-repeat -65px center;
}
.dl_se6_main ul li{
	display: block;
	width: 16.667%;
	font-size: 16px;
	color: #4d4e4e;
	font-weight: bold;
	line-height: 30px;
	float: left;
	padding-right: 20px;
	text-align: center;
}
.dl_se6_main ul li i{
	font-size: 30px;
	line-height: 1;
	font-weight: normal;
	margin-right: 8px;
}
.dl_se6_main ul li:nth-of-type(1){
	padding: 0 0 60px 0;
}
.dl_se6_main ul li:nth-of-type(2){
	padding: 60px 0 0 0;
}
.dl_se6_main ul li:nth-of-type(3){
	padding: 0 0 60px 0;
}
.dl_se6_main ul li:nth-of-type(4){
	padding: 60px 0 0 0;
}
.dl_se6_main ul li:nth-of-type(5){
	padding: 0 0 60px 0;
}
.dl_se6_main ul li:last-of-type{
	padding: 0;
	text-align: right;
    padding-top: 25px;
}
.dl_se6_main ul li:last-of-type span{
	display: inline-block;
	padding: 5px 20px;
	background: #AF0000;
	border-radius: 3px;
	font-size: 16px;
	color: #fff;
}
/*诚招代理结束*/




.returnTop {
	position: fixed;
	right: 15px;
	bottom: 50px;
	z-index: 99998;
	cursor: pointer;
	width: 40px;
	height: 37px!important;
	text-align: center;
	white-space: normal;
	font-size: 14px;
	line-height: 17px;
	padding-top: 3px;
	color: #fff;
	opacity: 1;
	display: inline-block;
	background: url(../images/ss.png) no-repeat -42px center #666;
}


/*右侧在线咨询 开始*/

.ImTable * {
	padding: 0px;
	margin: 0px
}

.ImTable {
	border-collapse: collapse;
	border: 9px solid #434343;
	background: #fff
}

.ImTable h2 {
	font-size: 14px;
	margin-top: 5px;
	color: #333
}

.ImHeader {
	height: 91px;
	background: url(../images/Img/im_01.png) no-repeat
}

.ImRow0 {
	background: #fff;
	line-height: 34px;
}

.ImRow1 {
	background: #fff;
	line-height: 34px;
}

a.im,
a:hover.im {
	text-decoration: none;
	color: #333;
	font-size: 13px;
}

.ImFooter {
	height: 177px;
	background: url(../images/Img/im_04.png) no-repeat;
}

.index_xf_fen {
	display: block;
	overflow: hidden;
}

.index_xf_fen img {
	width: 100%;
}


/*右侧在线咨询 结束*/


/*header部分开始*/

.header_meta {
	width: 100%;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	margin: 0px auto;
	background: #d8d8d8;
}

.top_left {
	width: 50%;
	height: 36px;
	line-height: 36px;
	float: left;
	font-size: 12px;
	color: #373737;
}

.top_right {
	width:50%;
	height: 36px;
	line-height: 36px;
	float: right;
}

.top_right span {
	display: block;
	float: right;
}

.top_right span a {
	display: inline-block;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	color: #373737;
}

.logo_l {
	float: left;
	width: 50%;
}

.logo_l h1 {
	margin: 0px;
}

.logo_img,
.logo_wel {
	display: inline-block;
	float: left;
}

.qow {
	font-size: 14px;
}

.logo_img {
	margin-right: 2%;
}

.logo_wel {
	border-left: 1px solid #cdcdcd;
	padding-left: 2%;
	padding-top: 5px;
}

.logo_wel h5 {
	font-size: 16px;
	margin: 0px;
	color: #af0000;
}

.logo_wel p {
	font-size: 14px;
	color: #5b5b5b;
}

.logo_r {
	float: right;
	width: 50%;
}

.logo_sea,
.logo_tel {
	display: block;
	float: right;
}
.logo_tel{
	padding-top: 5px;
}
.logo_sea {
	padding-top: 10px;
	margin-right: 25px;
}

.logo_erwei {
	float: right;
}

.logo_erwei div {
	display: inline-block;
	margin-right: 10px;
}

.logo_erwei .sw {
	position: relative;
}

.logo_erwei .sw span {
	position: absolute;
	top: -100%;
	left: 0;
	opacity: 0;
	transition: .8s;
	z-index: 99999;
}

.logo_erwei .sw:last-of-type span {
	top: -10px;
	left: -100%;
}

.logo_erwei .sw:hover span {
	top: 30px;
	opacity: 1;
}

.logo_erwei .sw:last-of-type:hover span {
	left: 30px;
	top: -10px;
	opacity: 1;
}

.top_right span a {
	font-size: 12px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	padding: 0px 5px;
}

.logo {
	background: #fff;
	padding: 20px 0;
}

header {
	width: 100%;
	z-index: 99;
}

.navbar {
	height: 50px;
	transition: .6s;
	background: #af0000;
	border-radius: 0px;
	margin-bottom: 0px;
	border: 0px;
}

.navbar-header a:focus {
	color: #fff;
}

.nav {
	line-height: 50px;
	height: 50px;
}

.nav li a {
	display: block;
	padding: 15px 30px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

.nav li a:focus,
.nav li a:hover {
	background: #fff;
	color: #af0000;
	transition: .3s;
}

.carousel-indicators {
	bottom: 10px;
}

.carousel-indicators li {
	border-radius: 50%;
	background: #af0000;
	border: 1px solid #af0000;
}

.carousel-indicators li.active {
	background: #fff;
	border: 1px solid #af0000;
}


/*header部分结束*/


/*营销力 开始*/

.index_yxl {
	display: block;
	padding: 30px 0;
}

.in_xyl_title {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

.in_xyl_title h5 {
	font-size: 18px;
	color: #313131;
}

.in_xyl_title p {
	font-size: 14px;
	color: #6d6d6d;
}

.in_yxl_main {
	display: block;
	margin-bottom: 10px;
}

.in_yxl_main ul li {
	display: block;
	width: 20%;
	float: left;
	border: 1px solid #dadada;
	text-align: center;
	padding-top: 30px;
	min-height: 214px;
	transition: .6s;
}

.in_yxl_main ul li span {
	display: block;
	margin-bottom: 10px;
	transition: .6s;
}

.in_yxl_main ul li span i {
	font-size: 50px;
	color: #af0000;
}

.in_yxl_main ul li h5 {
	display: block;
	font-size: 20px;
	transition: .6s;
	color: #303030;
	margin-bottom: 10px;
}

.in_yxl_main ul li p {
	font-size: 12px;
	transition: .6s;
	color: #7f7f7f;
}

.in_yxl_main ul li:hover {
	border: 1px solid #af0000;
	background: #af0000;
}

.in_yxl_main ul li:hover span {
	transform: rotateY(360deg);
}

.in_yxl_main ul li:hover h5,
.in_yxl_main ul li:hover p,
.in_yxl_main ul li:hover span i {
	color: #fff;
}


/*营销力 结束*/


/*分割 开始*/

.index_fen {
	display: block;
	background: #313131;
	margin-bottom: 80px;
}

.in_fen_main {
	display: block;
	width: 100%;
	background: #AF0000;
	padding: 0px 40px;
	transform: translateY(80px);
}
.in_fen_main_l,.in_fen_main_r{
	width: 50%;
	float: left;
}
.in_fen_main_r{
	padding: 60px 0px 0px 10px;
}
.in_fen_main_c {
	display: block;
	margin-bottom: 20px;
}
.in_fen_main_c:hover span{
	transform: rotateY(360deg);
	background: #fff;
	border-radius: 50%;
	padding: 20px;
	text-align: center;
}
.in_fen_main_c:hover span i{
	color: #AF0000;
}
.in_fen_main_c span {
	display: block;
	width: 15%;
	margin-right: 10px;
	transition: .6s;
	float: left;
}

.in_fen_main_c span i {
	font-size: 36px;
	color: #fff;
	line-height: 1;
}

.in_fen_main_c .in_fen_info {
	width: 70%;
	float: left;
}

.in_fen_main_c .in_fen_info h5 {
	font-size: 22px;
	color: #fff;
	margin-bottom: 10px;
}

.in_fen_main_c .in_fen_info p {
	font-size: 12px;
	color: #fff;
}

.index_fen_conten {
	display: block;
	padding: 30px 0;
}

.in_fen_conten {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

.in_fen_conten h5 {
	font-size: 18px;
	color: #313131;
	margin-bottom: 15px;
}

.in_fen_conten p {
	font-size: 14px;
	color: #6d6d6d;
}

.in_fen_more {
	display: block;
	text-align: center;
}

.in_fen_more a {
	display: inline-block;
	width: 100px;
	line-height: 36px;
	text-align: center;
	line-height: 36px;
	font-size: 12px;
	color: #fff;
	transition: .6s;
	border: 1px solid #af0000;
	background: #af0000;
}

.in_fen_more a:hover {
	background: #fff;
	color: #af0000;
}


/*分割 结束*/
/*精选主题 开始*/
.jx_title{
	display: block;
	text-align: center;
	margin-bottom: 50px;
}
.jx_title h5{
	display: block;
    font-size: 30px;
    color: #303030;
    font-weight: 600;
}
.jx_title h5 font{
	font-size: 30px;
    color: #AF0000;
    font-weight: 600;
}
.jx_title p{
	font-size: 16px;
	color: #4c4c4c;
}
.jx_main{
	display: block;
	padding: 0 30px;
}
.jx_main_l{
	width: 15%;
	float: left;
	border: 1px solid #c4c4c4;
	padding: 17px 13px;
}
.jx_main_l_list{
	display: block;
	margin-bottom: 20px;
	position: relative;
}
.jx_main_l_list:nth-of-type(4) a:nth-of-type(1){
	width: 49%;
	margin-right: 2%;
}
.jx_main_l_list:nth-of-type(4) a:nth-of-type(2){
	margin-right: 0;
}
.jx_main_l_list:last-of-type a{
	width: 23%;
	padding: 0 5px;
	height: 26px;
	margin:10px 2% 0 0;
	border: 0px;
}
.jx_main_l_list:last-of-type a:first-of-type{
	display: block;
	width: 100%;
	margin-top: 15px;
	float: left;
	position: relative;
	text-align: center;
	font-size: 12px;
	padding: 7px 0;
	height: auto;
	color: #fff;
	transition: .3s;
	background: #2992DC;
	border: 1px solid #2992dc;
	
}
.jx_main_l_hangye{
	display: none;   
	width: 676px;
    position: absolute;
    right: -690px;
    padding:15px 0 15px 20px;;
    top: -10px;
    background: #198ede;
    z-index: 99;
    min-height: 316px;
}
.jx_main_l_hangye a{
	color: #fff !important;
    font-size: 13px !important;
    cursor: pointer;
    display: block;
    border: 0px !important;
    text-align: left !important;
    margin: 0 !important;
    background: none !important;
    float: left !important;
    width: 131px !important;
    height: 24px;
    overflow: hidden;
}
.jx_main_l_hangye_s{
	position: absolute;
    width: 0;
    height: 0;
    top: 5px;
    right: -22px;
    display: none;
    border-top: 10px solid transparent;
    border-right: 20px solid #2992DC;
    border-bottom: 10px solid transparent;
}
.jx_main_l_hangye a:hover{
	color: #2af2e3 !important;
}
.jx_main_l_list h5{
	font-size: 14px;
	color: #3e3e3e;
	font-weight: 600;
}
.jx_main_l_list a{
	display: block;
	width: 49%;
	margin-top: 15px;
	float: left;
	position: relative;
	text-align: center;
	font-size: 12px;
	padding: 7px 0;
	color: #2992dc;
	transition: .3s;
	border: 1px solid #2992dc;
}
.jx_main_l_list a:nth-child(odd){
	margin-right: 2%;
}
.jx_main_l_list a:nth-of-type(1){
	display: block;
	width: 100%;
	background: #2992DC;
	color: #fff;
}
.jx_main_l_inp{
	display: block;
	margin-bottom: 20px;	
}
.jx_main_l_inp .jx_main_l_inp_text{
	line-height: 22px;
    font-size: 12px;
    border: 0;
    float: left;
    width: 80%;
    border: 1px solid #2992DC;
    color: #aeaeae;
    text-indent: 5px;
}
a:hover{
	text-decoration: none;
}
.jx_main_l_inp  a{
	
    float: left;
    width: 20%;
    height: 26px;
    text-align: center;
    line-height: 26px;
    display: block;
    border: 1px solid #2992DC;
    border-left: 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
.jx_main_l_inp  a i{
	font-size: 16px;
	color: #2992DC;
}
.jx_main_l_list a:hover{
	background: #2992DC;
	color: #fff;
}
.jx_main_r{
	width: 83%;
	float: left;
	margin-left: 2%;
}
.jx_list{
	display: block;
	margin-bottom: 20px;
}
.jx_list ul li{
	display: block;
	width: 22%;
	float: left;
	margin-left: 3%;
}
.jx_list ul li:hover .jx_img img{
	transform: scale(1.06);
}
.jx_list ul li:hover .jx_info_l_pri span{
	background: #2992DC;
	color: #fff;
}
.jx_img{
	display: block;
	overflow: hidden;
	margin: 5px;
	box-shadow: 4px 0px 15px 0px #808080;
	margin-bottom: 15px;
}
.jx_img img{
	width: 100%;
	transition: .3s;
}
.jx_info{
	display: block;
}
.jx_info .jx_info_l{
	width: 70%;
	float: left;
}
.jx_info_l_s span{
	display: block;
	font-size: 14px;
	color: #949393;
	margin-bottom: 5px;
}
.jx_info_l_s h5{
	font-size: 14px;
	color: #5a5a5a;
}
.jx_info_l_s h5 a{
	display: inline-block;
	font-size: 12px;
	color: #2992DC;
}
.jx_info_l_pri{
	display: block;
	width: 28%;
	float: right;
}
.jx_info_l_pri span{
	display: inline-block;
	padding: 7px 15px;
	float: left;
	border-radius: 5px;
	border: 1px solid #2992DC;
	font-size: 14px;
	color: #2992DC;
}
/*精选主题 结束*/

/*案例 开始*/

.index_case {
	display: block;
	padding: 50px 0 25px 0;
	background: url(../images/index_case_bg.png) no-repeat top center;
}

.in_case_title {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

.in_case_title h5 {
	font-family: "microsoft yahei";
	font-size: 48px;
	color: #af0000;
}

.in_case_title p {
	font-size: 18px;
	color: #dedede;
}

.in_case_main {
	display: block;
}

.in_case_main_t {
	display: block;
	margin-bottom: 20px;
	text-align: center;
}

.in_case_main_t ul li {
	display: inline-block;
	padding: 10px;
	margin-right: 10px;
	border: 1px solid #d2d2d2;
	transition: .6s;
}

.in_case_main_t ul li a {
	font-size: 14px;
	color: #d2d2d2;
}

.in_case_main_t ul li.active {
	border: 1px solid #af0000;
	background: #af0000;
}

.in_case_main_t ul li.active a {
	color: #fff;
}

.in_case_list {
	display: none;
	opacity: 0;
	transition: .6s;
}

.in_case_list.active {
	display: block;
	opacity: 1;
}

.in_case_list ul li {
	display: block;
	width: 31.33%;
	background: #fff;
	margin: 0px 1%;
	float: left;
}

.in_case_list ul li div {
	display: block;
	margin-bottom: 1px;
	overflow: hidden;
	position: relative;
}

.in_case_list_more {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(175, 0, 0, 0.6);
	top: -100%;
	text-align: center;
	left: 0px;
	padding-top: 20%;
	transition: .6s;
}

.in_case_list_more samp {
	display: block;
	font-family: "微软雅黑";
	margin-bottom: 15px;
}

.in_case_list_more samp i {
	font-size: 38px;
	color: #fff;
}

.in_case_list_more font {
	display: block;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}

.in_case_list ul li div img {
	transition: .6s;
	width: 100%;
}

.in_case_list ul li span {
	display: block;
	text-align: center;
}

.in_case_list ul li span a {
	display: block;
	padding: 5px 0;
	background: #2b2b2b;
	font-size: 16px;
	color: #fff;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	transition: .6s;
}

.in_case_list ul li:hover .in_case_list_more {
	top: 0px;
}

.in_case_list ul li:hover div img {
	transform: scale(1.08);
}

.in_case_list ul li:hover span a {
	background: #AF0000;
}

.index_more {
	display: block;
	text-align: center;
	margin-top: 30px;
}

.index_more a {
	display: inline-block;
	width: 100px;
	line-height: 36px;
	text-align: center;
	line-height: 36px;
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #c8c8c8;
	transition: .6s;
	border: 1px solid #c8c8c8;
}

.index_more a:hover {
	background: #AF0000;
	border: 1px solid #AF0000;
	color: #fff;
}


/*案例 结束*/


/*理由 开始*/

.index_reason {
	display: block;
	padding: 30px 0;
}

.in_reason_title {
	display: block;
	text-align: center;
	margin-bottom: 30px;
}

.in_reason_title h5 {
	font-size: 24px;
	color: #505050;
}

.in_reason_title p {
	color: #6f6f6f;
	font-size: 14px;
}

.in_reason_main {
	display: block;
}

.in_reason_main ul li {
	width: 33.33333%;
	transition: .6s;
	float: left;
	text-align: center;
	padding: 77px 0;
	background: #e7e7e7;
}

.in_reason_main ul li h5 {
	font-size: 22px;
	color: #363636;
}

.in_reason_main ul li p {
	font-size: 14px;
	color: #4e4e4e;
}

.in_reason_main ul li:nth-child(even) {
	background: #AF0000;
}

.in_reason_main ul li:nth-child(even) h5,
.in_reason_main ul li:nth-child(even) p {
	color: #fff;
}

.in_reason_main ul li:hover {
	opacity: .6;
}


/*理由 结束*/


/*新闻 开始*/

.index_news {
	display: block;
	padding: 15px 0;
}

.in_news_title {
	display: block;
	text-align: center;
	margin-bottom: 15px;
}

.in_news_title h5 {
	font-size: 48px;
	color: #858585;
}

.in_news_title p {
	font-size: 18px;
	color: #484848;
}

.in_news_main {
	display: block;
}

.in_news_t {
	display: block;
	text-align: center;
	padding-bottom: 8px;
	border-bottom: 1px solid #aaaaaa;
	margin-bottom: 20px;
}

.in_news_t ul li {
	display: inline-block;
	margin-right: 15px;
}

.in_news_t ul li a {
	font-size: 14px;
	color: #646464;
}

.in_news_t ul li.active a {
	color: #AF0000;
}

.in_news_list {
	display: none;
	opacity: 0;
	transition: .6s;
}

.in_news_list.active {
	display: block;
	opacity: 1;
}

.in_news_list ul li {
	display: block;
	width: 47.5%;
	margin-bottom: 15px;
	float: left;
}

.in_news_list ul li:nth-child(even) {
	margin-left: 5%;
}

.in_news_list ul li .in_news_time {
	display: block;
	width: 85px;
	height: 85px;
	text-align: center;
	border-radius: 50%;
	float: left;
	padding-top: 7px;
	transition: .6s;
	background: #AF0000;
	border: 1px solid transparent;
}

.in_news_list ul li .in_news_time h5 {
	color: #fff;
	line-height: 1;
	transition: .6s;
	font-size: 48px;
}

.in_news_list ul li .in_news_time p {
	font-size: 14px;
	color: #fff;
	transition: .6s;
}

.in_news_list ul li .in_news_info {
	display: inline-block;
	float: right;
	width: 80%;
}

.in_news_list ul li .in_news_info h5 {
	display: block;
	margin-bottom: 10px;
}

.in_news_list ul li .in_news_info h5 a {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 16px;
	color: #AF0000;
	transition: .6s;
}

.in_news_list ul li .in_news_info h5 a:hover {
	text-decoration: underline;
}

.in_news_list ul li .in_news_info p {
	font-size: 12px;
	color: #666666;
	min-height:68px;
	overflow: hidden;
}

.in_news_list ul li:hover .in_news_time {
	transform: rotateY(360deg);
	border: 1px solid #AF0000;
	background: transparent;
}

.in_news_list ul li:hover .in_news_time h5,
.in_news_list ul li:hover .in_news_time p {
	color: #AF0000;
}


/*新闻 结束*/


/*优势 开始*/

.index_advan {
	display: block;
	padding: 20px 0;
	background: #363636;
	position: relative;
}

.in_advan_main {
	display: block;
}

.in_advan_list ul li {
	display: block;
	width: 20%;
	float: left;
	padding-top:5px;
}

.in_advan_list ul li span {
	display: inline-block;
	float: left;
	margin-right: 10px;
	transition: .6s;
}

.in_advan_list ul li span i {
	font-size: 40px;
	color: #fff;
	line-height: 1;
	transition: .6s;
}

.in_advan_list ul li p {
	display: inline-block;
	float: left;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
	transition: .6s;
}

.in_advan_list ul li:hover span {
	transform: rotateY(360deg);
}

.in_advan_list ul li:hover span i {
	color: #AF0000;
}

.in_advan_list ul li:hover p {
	color: #AF0000;
}

.in_news_more {
	position: absolute;
	width: 30%;
	right: 0px;
	top: 0px;
	height: 100%;
	padding: 24px 80px;
	background: #AF0000;
}

.in_news_more a {
	display: inline-block;
	width: 100px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	color: #fff;
	border: 1px solid #fff;
	transition: .6s;
}

.in_news_more a:hover {
	background: #fff;
	color: #AF0000;
}


/*优势 结束*/


/*footer 开始*/

footer {
	display: block;
	background: #292929;
	padding-top: 60px;
}

.footer_nav,
.footer_info {
	display: block;
	width: 50%;
	float: left;
	margin-bottom: 20px;
}

.footer_nav {
	border-right: 1px solid #3e3e3e;
}

.footer_nav_list {
	display: block;
	width: 33.33333333%;
	float: left;
}

.footer_nav_list p {
	display: block;
	font-size: 14px;
	color: #e8e8e8;
	margin-bottom: 20px;
}

.footer_nav_list ul li {
	display: block;
	margin-bottom: 10px;
}

.footer_nav_list ul li a {
	display: block;
	font-size: 12px;
	color: #bbbbbb;
}

.footer_content,
.footer_er {
	display: block;
	width: 50%;
	float: left;
}

.footer_content {
	padding-left: 30px;
}

.footer_content p {
	display: block;
	margin-bottom: 20px;
}

.footer_content p font,
.footer_content p a,
.footer_content p span,
.footer_content p {
	font-size: 12px;
	color: #bbbbbb;
}

.footer_er img {
	width: 40%;
	float: left;
}

.footer_er img:nth-of-type(1) {
	margin-right: 20%;
}

.footer_links {
	display: block;
	padding: 20px 0;
	border-bottom: 1px solid #3e3e3e;
	border-top: 1px solid #3e3e3e;
	background: #292929;
}

.footer_links p {
	display: inline-block;
	float: left;
	font-size: 12px;
	color: #bbbbbb;
}

.footer_links a {
	display: inline-block;
	float: left;
	margin-left: 5px;
	font-size: 12px;
	color: #bbb;
	margin-bottom: 5px;
}

.footer_links a:hover {
	color: #fff;
	text-decoration: underline;
}

.footer_beian {
	display: block;
	padding: 15px 0;
	text-align: center;
	background: #292929;
}

.footer_beian p,
.footer_beian p a,
.footer_beian p font,
.footer_beian p span {
	font-size: 12px;
	color: #bbbbbb;
}


/**/

/*footer 结束*/

.nei_banenr {
	display: block;
	overflow: hidden;
}

.nei_banenr img {
	width: 100%;
}
/*核心优势开始*/

.hxys_title {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

.hxys_title h5 {
	font-size: 22px;
	color: #000;
	margin-bottom: 10px;
}

.hxys_title p {
	font-size: 14px;
	color: #8d8d8d;
}

.hxys_main {
	display: block;
	border: 1px solid #dcdcdc;
	border-bottom: 0;
	border-right: 0;
}

.hxys_main ul li {
	display: block;
	float: left;
	width: 25%;
	position: relative;
	padding: 40px 30px 30px 30px;
	text-align: center;
	overflow: hidden;
	border-right: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
}

.hxys_main ul li span {
	display: inline-block;
	margin-bottom: 15px;
}

.hxys_main ul li span i {
	color: #5db0e8;
	line-height: 1;
	font-size: 34px;
}

.hxys_main ul li h5 {
	font-size: 14px;
	color: #7b7a7a;
}

.hxys_main ul li p {
	font-size: 12px;
	color: #9c9c9c;
	min-height: 34px;
}

.hxys_info {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: -100%;
	text-align: left;
	transition: .6s;
	left: -100%;
	background: rgba(211, 39, 25, .7);
	padding: 18px 20px;
}
@font-face {
	font-family: 'iconfont_zz';
	/* project id 380611 */
	src: url('//at.alicdn.com/t/font_380611_u5b9vmwyvvpctyb9.eot');
	src: url('//at.alicdn.com/t/font_380611_u5b9vmwyvvpctyb9.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_380611_u5b9vmwyvvpctyb9.woff') format('woff'), url('//at.alicdn.com/t/font_380611_u5b9vmwyvvpctyb9.ttf') format('truetype'), url('//at.alicdn.com/t/font_380611_u5b9vmwyvvpctyb9.svg#iconfont') format('svg');
}

.iconfont_zz {
	font-family: "iconfont_zz";
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.hxys_info h2 {
	font-size: 14px;
	color: #fff;
	background: url(../images/hyxs_li_active_p_bg.png) no-repeat 0px 10px;
	padding-left: 8px;
	margin-bottom: 5px;
}

.hxys_info h3 {
	font-size: 12px;
	color: #fff;
}

.hxys_main ul li:hover .hxys_info {
	top: 0px;
	left: 0px;
}


/*网站建设 开始*/

.wzjs_top {
	display: block;
	padding: 25px 0;
	background: #f4f4f4;
}

.wzjs_top_l {
	display: inline-block;
	float: left;
}

.wzjs_top_l p {
	display: inline-block;
	font-size: 24px;
	color: #373737;
	line-height: 43px;
}

.wzjs_top_r {
	display: inline-block;
	float: right;
}

.wzjs_top_r a {
	display: inline-block;
	width: 177px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	background: #AF0000;
	transition: .6s;
	color: #fff;
	font-size: 24px;
	border: 1px solid #AF0000;
}

.wzjs_top_r a:hover {
	background: #f4f4f4;
	color: #AF0000;
}

.wzjs_title {
	display: block;
	padding: 30px 0 50px 0;
	text-align: center;
}

.wzjs_title h5 {
	font-size: 30px;
	color: #343434;
	font-weight: 600;
	margin-bottom: 10px;
}

.wzjs_title p {
	font-size: 16px;
	color: #4c4c4c;
}

.wzjs_list {
	display: block;
}

.wzjs_list ul li {
	display: block;
	width: 24%;
	float: left;
	margin-right: 1%;
	padding-top: 45px;
	background: url(../images/wzjs_list_bg.png) repeat-x top left;
	text-align: center;
	border: 1px solid #afafaf;
	transition: .6s;
}

.wzjs_list ul li h3 {
	font-size: 24px;
	color: #4e4e4e;
	margin-bottom: 5px;
	transition: .6s;
	font-weight: 600;
}

.wzjs_list ul li h4 {
	font-size: 16px;
	color: #434343;
	transition: .6s;
}

.wzjs_list ul li h5 {
	display: block;
	margin: 20px auto;
	width: 144px;
	height: 144px;
	text-align: center;
	line-height: 144px;
	border-radius: 50%;
	border: 1px solid #cbcbcb;
	background: #fff;
	font-size: 27px;
	font-weight: 600;
	color: #7a7a7a;
	transition: .6s;
}

.wzjs_list ul li h5 font {
	font-size: 18px;
	color: #7a7a7a;
	transition: .6s;
}

.wzjs_list ul li p {
	display: block;
	height: 43px;
	line-height: 43px;
	border-bottom: 1px dashed #cbcbcb;
	font-size: 14px;
	color: #4a4a4a;
}

.wzjs_list ul li p:first-of-type {
	border-top: 1px dashed #cbcbcb;
}

.wzjs_list ul li a {
	display: block;
	height: 58px;
	color: #4e4e4e;
	font-size: 18px;
	line-height: 58px;
	transition: .6s;
	font-family: "微软雅黑";
	background: #dbdbdb;
}

.wzjs_list ul li.active {
	background: url(../images/wzjs_list_active_bg.png) repeat-x top left;
	border: 1px solid #AF0000;
}

.wzjs_list ul li.active h3,
.wzjs_list ul li.active h4 {
	color: #fff;
}

.wzjs_list ul li.active h5 {
	transform: rotateZ(360deg);
	border: 1px solid #AF0000;
	color: #AF0000;
}

.wzjs_list ul li.active h5 font {
	color: #AF0000;
}

.wzjs_list ul li.active a {
	background: #AF0000;
	color: #fff;
}

.wzjs_hezuo {
	display: block;
	padding: 50px 0 0 0;
}

.wzjs_hezuo_title {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

.wzjs_hezuo_title h5 {
	font-size: 30px;
	color: #353535;
	font-weight: 600;
	margin-bottom: 10px;
}

.wzjs_hezuo_title h5 font {
	color: #AF0000;
	font-size: 30px;
	font-weight: 600;
}

.wzjs_hezuo_title p {
	font-size: 16px;
	color: #4c4c4c;
}

.wzjs_hezuo_list {
	display: block;
}

.wzjs_hezuo_list ul li {
	display: block;
	width: 19%;
	margin-right: 1%;
	float: left;
	margin-bottom: 10px;
	border: 1px solid #b6b6b6;
	transition: .6s;
}

.wzjs_hezuo_list ul li a {
	display: block;
	overflow: hidden;
}

.wzjs_hezuo_list ul li a img {
	width: 100%;
	transition: .6s;
}

.wzjs_hezuo_list ul li:hover {
	border: 1px solid #AF0000;
}

.wzjs_hezuo_list ul li:hover a img {
	transform: scale(1.08);
}


/*网站建设 结束*/


/*网站优化 开始*/

.wzyh_main {
	display: block;
	padding: 50px 0;
	background: url(../images/wzyh_bg.png) no-repeat center top;
}

.wzyh_se1 {
	display: block;
	margin-bottom: 50px;
}

.wzyh_se1_title {
	display: block;
	text-align: center;
	margin-bottom: 50px;
}

.wzyh_se1_title h5 {
	font-size: 34px;
	color: #3b3b3b;
	font-weight: 600;
	margin-bottom: 20px;
}

.wzyh_se1_title p {
	font-size: 14px;
	color: #6f6f6f;
}

.wzyh_se1_list {
	display: block;
}

.wzyh_se1_list ul li {
	display: block;
	width: 31.33%;
	float: left;
	margin: 0 1% 10px 1%;
	text-align: center;
	padding: 30px 0;
	background: #fff;
	transition: .6s;
	border: 1px solid #d1d1d1;
}
.wzyh_se1_list ul li:hover{
	border: 1px solid #AF0000;
	box-shadow: 3px 4px 10px 0px #666666;
}
.wzyh_se1_list ul li h4 {
	margin-bottom: 10px;
}

.wzyh_se1_list ul li h5 {
	font-size: 18px;
	color: #2992dc;
	margin-bottom: 10px;
	font-weight: 600;
}

.wzyh_se1_list ul li p {
	font-size: 14px;
	color: #515151;
}

.wzyh_se2,
.wzyh_se3 {
	display: block;
	margin-bottom: 50px;
}

.wzyh_se2_title,
.wzyh_se3_title,
.wzyh_se4_title {
	display: block;
}

.wzyh_se2_title h5,
.wzyh_se3_title h5,
.wzyh_se4_title h5 {
	display: block;
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 30px;
}

.wzyh_se2_list {
	display: block;
	padding: 0px 12%;
}

.wzyh_se2_list ul li {
	display: block;
	width: 24%;
	float: left;
	margin: 0 1% 10px 0;
	transition: .6s;
	border: 1px solid #cdcdcd;
}

.wzyh_se2_list ul li a {
	display: block;
	overflow: hidden;
}

.wzyh_se2_list ul li a img {
	width: 100%;
	transition: .6s;
}

.wzyh_se2_list ul li:hover {
	border: 1px solid #AF0000;
}

.wzyh_se2_list ul li:hover a img {
	transform: scale(1.08);
}

.wzyh_se3_list {
	display: block;
}

.wzyh_se3_list ul li {
	display: block;
	width: 31.3333%;
	margin: 0 1% 20px 1%;
	min-height: 100px;
	float: left;
	transition: .6s;
	padding: 20px 0 0 120px;
}

.wzyh_se3_list ul li h5 {
	font-size: 16px;
	color: #fff;
}

.wzyh_se3_list ul li p {
	font-size: 12px;
	color: #fff;
}

.wzyh_se3_list ul li:nth-of-type(1) {
	background: url(../images/wzyh_se3_img1.png) no-repeat 20px 22px #55b3ff;
}

.wzyh_se3_list ul li:nth-of-type(2) {
	background: url(../images/wzyh_se3_img2.png) no-repeat 20px 16px #00ce7d;
}

.wzyh_se3_list ul li:nth-of-type(3) {
	background: url(../images/wzyh_se3_img3.png) no-repeat 20px 18px #ff4851;
}

.wzyh_se3_list ul li:nth-of-type(4) {
	background: url(../images/wzyh_se3_img4.png) no-repeat 35px 18px #3ee1e5;
}

.wzyh_se3_list ul li:nth-of-type(5) {
	background: url(../images/wzyh_se3_img5.png) no-repeat 37px 14px #ff6400;
}

.wzyh_se3_list ul li:nth-of-type(6) {
	background: url(../images/wzyh_se3_img6.png) no-repeat 20px 18px #9157c8;
}

.wzyh_se3_list ul li:hover {
	opacity: .6;
}

.wzyh_se4 {
	display: block;
}

.wzyh_se4_list {
	display: block;
	border: 3px solid #fff;
	background: url(../images/wzyh_se4_bg.png) no-repeat 100px 40px;
	padding: 40px 87px 0px 187px;
}

.wzyh_se4_list ul li {
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px solid #7cbcea;
	margin-bottom: 34px;
}

.wzyh_se4_list ul li h5 {
	font-size: 18px;
	color: #fff;
}

.wzyh_se4_list ul li p {
	font-size: 14px;
	color: #fff;
}


/*网站优化 结束*/


/*优化案例 开始*/

.list_product_title {
	display: block;
	margin-bottom: 20px;
	text-align: center;
}

.list_product_title h5 {
	display: block;
	font-size: 30px;
	color: #303030;
	font-weight: 600;
}

.list_product_title h5 font {
	font-size: 30px;
	color: #AF0000;
	font-weight: 600;
}

.list_product_title h5 span {
	font-size: 25px;
	color: #434343;
}

.list_product_t {
	display: block;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #B2B2B2;
	margin-bottom: 20px;
}

.list_product_t ul li {
	display: inline-block;
	width: 200px;
	height: 48px;
	text-align: center;
	transition: .6s;
	border: 1px solid #b2b2b2;
}

.list_product_t ul li a {
	display: block;
	font-size: 16px;
	color: #b2b2b2;
	line-height: 48px;
	height: 48px;
}

.list_product_t ul li.active {
	background: #AF0000;
	border: 1px solid #AF0000;
}

.list_product_t ul li.active a {
	color: #fff;
	text-decoration: none;
}

.list_product_t ul li:first-of-type {
	margin-right: 20px;
}

.product_list {
	display: none;
}

.product_list.active {
	display: block;
}

.product_list ul li {
	display: block;
	width: 32.33333%;
	float: left;
	margin-right: 1.5%;
	margin-bottom: 10px;
}

.product_list ul li:nth-child(3n+3) {
	margin-right: 0px;
}

.product_list ul li .product_list_img {
	display: block;
	border: 1px solid #cdcdcd;
	overflow: hidden;
	position: relative;
}

.product_list ul li .product_list_img img {
	width: 100%;
	transition: .6s;
}

.product_list ul li .product_list_img .product_list_more {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(175, 0, 0, 0.6);
	top: -100%;
	text-align: center;
	left: 0px;
	padding-top: 20%;
	transition: .6s;
}

.product_list ul li .product_list_img .product_list_more samp {
	display: block;
	font-family: "微软雅黑";
	margin-bottom: 15px;
}

.product_list ul li .product_list_img .product_list_more samp i {
	font-size: 38px;
	color: #fff;
}

.product_list ul li .product_list_img .product_list_more font {
	display: block;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}

.product_list ul li span {
	display: block;
}

.product_list ul li span a {
	display: block;
	padding: 5px 0;
	background: #fff;
	color: #666;
	border: 1px solid #bebebe;
	transition: .6s;
	font-size: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
}

.product_list ul li:hover .product_list_img {
	border: 1px solid rgba(175, 0, 0, .6);
}

.product_list ul li:hover .product_list_img img {
	transform: scale(1.08);
}

.product_list ul li:hover .product_list_more {
	top: 0px;
}

.product_list ul li:hover span a {
	background: #AF0000;
	border: 1px solid #AF0000;
	color: #fff;
}


/*优化案例 结束*/


/*新闻中心 开始*/

.news_list_title {
	display: block;
	margin-bottom: 20px;
	text-align: center;
}

.news_list_title h5 {
	display: block;
	font-size: 30px;
	color: #303030;
	font-weight: 600;
}

.news_list_title h5 font {
	font-size: 30px;
	color: #AF0000;
	font-weight: 600;
}

.news_list_title h5 span {
	font-size: 25px;
	color: #434343;
}

.news_list_t {
	display: block;
	padding: 10px 0;
	text-align: center;
	margin-bottom: 20px;
	border: 1px solid #cdcdcd;
}

.news_list_t ul li {
	display: inline-block;
}

.news_list_t ul li a {
	font-size: 16px;
	display: inline-block;
	color: #808080;
	transition: .6s;
	margin-right: 10px;
}

.news_list_t ul li.active a {
	color: #AF0000;
}

.news_list {
	display: none;
}

.news_list.active {
	display: block;
}

.news_list ul li {
	display: block;
	width: 49%;
	float: left;
	border: 1px solid #d3d3d3;
	margin: 0 2% 10px 0;
}

.news_list ul li:nth-child(even) {
	margin-right: 0px;
}

.news_list ul li .news_list_time {
	width: 20%;
	display: block;
	float: left;
	color: #fff;
	background: #AF0000;
	text-align: center;
}

.news_list ul li .news_list_time h5 {
    font-size: 56px;
    color: #fff;
    line-height: 1;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #d78080;
}

.news_list ul li .news_list_time p {
	display: block;
	font-size: 16px;
	color: #fff;
	padding: 5px 0;
}

.news_list ul li .news_list_info {
	padding: 9px 15px;
	display: inline-block;
	float: left;
	width: 80%;
}

.news_list ul li .news_list_info h5 {
	display: block;
	margin-bottom: 8px;
}

.news_list ul li .news_list_info h5 a {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 18px;
	color: #282828;
	transition: .6s;
}

.news_list ul li .news_list_info p {
	font-size: 14px;
	color: #6b6b6b;
	max-height: 40px;
	overflow: hidden;
}

.news_list ul li .news_list_info .news_list_more {
	display: block;
	text-align: right;
	font-size: 12px;
	color: #727272;
	transition: .6s;
}

.news_list ul li:hover {
	border: 1px solid #AF0000;
}

.news_list ul li:hover .news_list_info h5 a,
.news_list ul li:hover .news_list_info .news_list_more {
	color: #AF0000;
}


/*新闻中心 结束*/


/*建站案例 开始*/

.case_list_title {
	display: block;
	margin-bottom: 20px;
	text-align: center;
}

.case_list_title h5 {
	display: block;
	font-size: 30px;
	color: #303030;
	font-weight: 600;
}

.case_list_title h5 font {
	font-size: 30px;
	color: #AF0000;
	font-weight: 600;
}

.case_list_title h5 span {
	font-size: 25px;
	color: #434343;
}

.case_list_t {
	display: block;
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid #666;
	margin-bottom: 20px;
}

.case_list_t ul li {
	display: inline-block;
	margin-right: 10px;
}

.case_list_t ul li a {
	display: inline-block;
	width: 128px;
	height: 37px;
	text-align: center;
	line-height: 37px;
	font-size: 14px;
	color: #666;
	border: 1px solid #666;
	transition: .6s;
}

.case_list_t ul li.active a {
	background: #AF0000;
	border: 1px solid #AF0000;
	color: #fff;
}

.case_list {
	display: none;
}

.case_list.active {
	display: block;
}

.case_list ul li {
	display: block;
	width: 24.5%;
	overflow: hidden;
	float: left;
	margin-right: 0.666667%;
	margin-bottom: 10px;
	position: relative;
}

.case_list ul li:nth-child(4n+4) {
	margin-right: 0px;
}

.case_list ul li:before {
	content: " ";
	background: rgba(0, 0, 0, .3);
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	transition: .6s;
	width: 100%;
	height: 100%;
}

.case_list ul li p {
	overflow: hidden;
	display: block;
}

.case_list ul li p img {
	width: 100%;
	transition: .6s;
}

.case_more {
	display: block;
	position: absolute;
	top: -100%;
	left: 0px;
	width: 100%;
	transition: .6s;
	height: 100%;
	padding-top: 20%;
	text-align: center;
}

.case_more font {
	display: inline-block;
	width: 109px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-family: "微软雅黑";
	background: #AF0000;
	color: #fff;
	border-radius: 5px;
	font-size: 20px;
}

.case_list ul li:hover:before {
	display: none;
}

.case_list ul li:hover p img {
	transform: scale(1.08);
}

.case_list ul li:hover .case_more {
	top: 0px;
}


/*建站案例 结束*/


/*新闻内页 开始*/

.conten {
	display: block;
}

.crumbs {
	display: block;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #AF0000;
	margin-bottom: 20px;
}

.crumbs,
.crumbs a,
.crumbs b,
.crumbs font,
.crumbs strong,
.crumbs span,
.crumbs p {
	color: #666;
	font-size: 14px;
}

.conten_title {
	display: block;
	text-align: center;
	font-size: 18px;
	color: #080808;
}

.conten_bianji {
	display: block;
	text-align: center;
}

.conten_bianji span {
	display: inline-block;
	font-size: 14px;
	color: #080808;
	margin: 0px 10px;
}

.conten_bianji span p {
	display: inline-block;
	color: #080808;
}

.conten_info {
	display: block;
	padding: 20px 10px;
	border-bottom: 1px solid #080808;
}

.bdshare-button-style1-16 {
	text-align: center;
	padding: 5px 0 10px 0;
	border-bottom: 1px solid #080808;
}

.bdshare-button-style1-16 a {
	float: none !important;
}

.conten_page {
	display: block;
	margin-top: 20px;
	text-align: left;
}

.conten_page p {
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
	color: #080808;
}

.conten_page p a {
	font-size: 14px;
	color: #363636;
}


/*新闻内页 结束*/
/*产品内页 开始*/
.info_product{
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px solid #080808;
}
.info_product_l,.info_product_r{
	width: 50%;
	float: left;
}
.info_product_l{
	text-align: left;
	padding:0px 30px 0 0;
}
.info_product_l img{
	padding: 15px;
	width: 100%;
	border: 1px solid #080808;
}
.info_product_r ul li{
	display: block;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #666;
}
.info_product_r ul li:last-of-type{
	border-bottom: 0px;
}
.info_product_r .bdshare-button-style1-16{
	padding: 0px;
	border-bottom: 0px;
	text-align: left;
}
.info_product_r ul li,.info_product_r ul li b,.info_product_r ul li a{
	font-size: 16px;
	color: #080808;
}
.info_product_conten,.other_product{
	display: block;
	margin-top: 20px;
}
.info_product_conten h5,.other_product h5{
	display: block;
	padding: 10px 0;
	font-size: 18px;
	margin-bottom: 10px;
	border-bottom: 1px solid #080808;
	margin-bottom: 10px;
}
.info_product_conten .infp_product_con{
	padding: 10px;
	color: #080808;
}
.other_product ul li{
	display: block;
	width: 24%;
	margin-right: 1%;
	float: left;
	margin-bottom: 10px;
}
.other_product ul li p{
	display: block;
	overflow: hidden;
}
.other_product ul li p img{
	width: 100%;
	transition: .6s;
}
.other_product ul li span{
	display: block;
}
.other_product ul li span a{
	padding: 5px 0;
	font-size: 14px;
	display: block;
	transition: .6s;
	text-align: center;
	color: #080808;
}
.other_product ul li:hover p img{
	transform: scale(1.08);	
}
.other_product ul li:hover span a{
	background: #808080;
	color: #fff;
}
.info_product_btn{
	display: block;
	margin-top: 10px;
}
.info_product_btn a{
	padding: 15px;
	font-size: 14px;
	color: #fff;
}
.info_product_btn a:first-of-type{
	border-radius: 5px 0 0 5px;
}
.info_product_btn a:last-of-type{
	border-radius: 0 5px 5px 0;
}
/*产品内页 结束*/


/*网站地图 开始*/

.lisitemap {
	float: left;
	list-style: none
}

.content_map {
	display: block;
	margin-bottom: 10px;
}

.content_map p {
	display: block;
	padding: 0 0 10px 0;
	border-bottom: 2px solid #AF0000;
	font-size: 16px;
	margin-bottom: 10px;
}

.content_map ul {
	display: block;
}

.content_map ul li {
	display: block;
	margin-left: 20px;
	margin-bottom: 5px;
	border: 1px solid #666;
	color: #666;
	font-size: 14px;
	padding: 5px;
}


/*网站地图 结束*/


/*在线留言 开始*/

.ask_main {
	display: block;
}

.ask_main h5 {
	display: block;
	font-size: 18px;
	color: #666;
	margin-bottom: 10px;
}

.guestbook_info {
	display: block;
}

.guestbook_info span {
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
}

.guestbook_sub {
	display: block;
	margin-top: 10px;
	text-align: right;
}


/*在线留言 结束*/

.page {
	display: block;
	margin-top: 20px;
	text-align: center;
}

.page a {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #666;
	color: #666;
}

.main {
	display: block;
	padding: 20px 0;
}

.m_footer_info {
	display: none;
}

.m_footer_info h5 {
	display: block;
	text-align: center;
	font-size: 16px;
	color: #fff;
	margin-bottom: 10px;
}

.m_footer_info p {
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
}

.m_footer_info p img {
	width: 100%;
}


/*移动端样式 开始*/


/*小屏幕手机样式 开始*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.header_meta,
	.logo_wel,
	.logo_sea,
	.nav>li,
	#divOranIm,
	.carousel-indicators,
	.index_fen,
	.index_fen_conten,
	.in_case_list_more,
	.index_advan,
	.footer_nav,
	.footer_er,
	.footer_links,
	.footer_beian,
	.product_list ul li .product_list_img .product_list_more,
	.case_more,
	.case_list ul li:before,
	.jx_main_l{
		display: none;
	}
	.footer_content {
		padding-left: 0px;
	}
	.jx_main_r{
		margin: 0;
	}
	.jx_main_r,
	.logo_img img,
	.logo_tel img,
	.footer_content {
		width: 100%;
	}
	.jx_title{
		margin-bottom: 15px;
	}
	.jx_list ul li{
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
	}
	.navbar,
	.jx_main{
		height: auto;
		padding: 5px 0;
	}
	.nav {
		height: auto;
		line-height: 1;
		margin: 0px;
	}
	.nav>li {
		width: 25%;
		float: left;
		border: 1px solid #fff;
	}
	.nav>li:nth-of-type(1),
	.nav>li:nth-of-type(2),
	.nav>li:nth-of-type(3),
	.nav>li:nth-of-type(4),
	.nav>li:nth-of-type(5),
	.nav>li:nth-of-type(6),
	.nav>li:nth-of-type(7),
	.nav>li:nth-of-type(8) {
		display: block;
	}
	.nav li a {
		padding: 0px;
		text-align: center;
		font-size: 14px;
		padding: 10px 0;
	}
	.logo {
		padding: 5px 0;
	}
	.container {
		padding: 0px;
	}
	.index_yxl,
	.index_reason,
	.index_news,
	footer,
	.wzjs_top{
		padding: 10px 0;
	}
	.wzjs_top{
		display:none;
	}
	.in_xyl_title h5,
	.in_case_list ul li span a,
	.in_reason_main ul li h5 {
		font-size: 14px;
	}
	.in_xyl_title p,
	.in_case_main_t ul li a,
	.in_reason_title p,
	.in_reason_main ul li p {
		font-size: 12px;
	}
	.in_xyl_title,
	.in_case_title,
	.in_reason_title,
	.in_news_title {
		margin-bottom: 10px;
	}
	.in_yxl_main ul li {
		width: 50%;
		padding-top: 15px;
	}
	.in_reason_main ul li {
		width: 50%;
	}
	.in_yxl_main ul li:nth-of-type(5) {
		display: none;
	}
	.index_case {
		padding: 20px 0;
		background: #313131;
	}
	.in_case_title h5,
	.in_news_title h5 {
		font-size: 24px;
	}
	.in_case_main_t ul li {
		padding: 5px;
		margin-right: -4px;
	}
	.in_case_list ul li {
		width: 48%;
	}
	.in_news_t ul li {
		margin-right: 2px;
	}
	.in_news_t ul li a {
		font-size: 12px;
	}
	.in_reason_main ul li:nth-of-type(2),
	.in_reason_main ul li:nth-of-type(3),
	.in_reason_main ul li:nth-of-type(6) {
		background: #AF0000;
	}
	.in_reason_main ul li:nth-of-type(1),
	.in_reason_main ul li:nth-of-type(4),
	.in_reason_main ul li:nth-of-type(5) {
		background: #e7e7e7;
	}
	.in_reason_main ul li:nth-of-type(2) h5,
	.in_reason_main ul li:nth-of-type(2) p,
	.in_reason_main ul li:nth-of-type(3) h5,
	.in_reason_main ul li:nth-of-type(3) p,
	.in_reason_main ul li:nth-of-type(6) h5,
	.in_reason_main ul li:nth-of-type(6) p {
		color: #fff;
	}
	.in_reason_main ul li:nth-of-type(1) h5,
	.in_reason_main ul li:nth-of-type(1) p,
	.in_reason_main ul li:nth-of-type(4) h5,
	.in_reason_main ul li:nth-of-type(4) p,
	.in_reason_main ul li:nth-of-type(5) h5,
	.in_reason_main ul li:nth-of-type(5) p {
		color: #363636;
	}
	.in_reason_main ul li {
		padding: 50px 5px 0 5px;
		min-height: 150px;
	}
	.in_news_list ul li {
		width: 100%;
	}
	.in_news_list ul li .in_news_time {
		width: 70px;
		height: 70px;
	}
	.in_news_list ul li .in_news_time h5 {
		font-size: 33px;
	}
	.in_news_list ul li .in_news_time p {
		font-size: 12px;
	}
	.in_news_list ul li .in_news_info {
		width: 75%;
	}
	.in_news_list ul li .in_news_info p {
		height: 36px;
		overflow: hidden;
	}
	.in_news_list ul li:nth-child(even) {
		margin-left: 0px;
	}
	.index_more {
		margin-top: 10px;
	}
	.footer_info {
		width: 100%;
		margin-bottom: 0px;
	}
	.footer_content p {
		margin-bottom: 5px;
	}
	.m_footer_info {
		display: block;
	}
	.m_footer {
		display: block;
		height: 50px;
		position: fixed;
		bottom: 0px;
		width: 100%;
		left: 0px;
		background: #292929;
		z-index: 999;
	}
	.m_foot_btn {
		width: 20%;
		float: left;
		height: 50px;
		display: block;
		padding-top: 3px;
		text-align: center;
		border-right: 1px solid #fff;
	}
	.m_foot_btn i {
		color: #fff;
		display: block;
		font-size: 20px;
	}
	.m_foot_btn span {
		display: block;
		text-align: center;
		color: #fff;
		font-size: 12px;
	}
	.recruit_container {
		width: 100% !important;
		min-width: 100% !important;
	}
	.recruit_content,
	.recruit_contenttop,
	.recruit_contenttopmain,
	.recruit_joinmain {
		height: auto !important;
		width: 100% !important;
		overflow: hidden;
	}
	.recruit_contenttop dl {
		width: 100% !important;
		margin-right: 0px !important;
		margin-bottom: 20px;
		text-align: center;
	}
	.recruit_contentbottom,
	.recruit_list,
	.recruit_saleRight {
		display: none;
	}
	.recruit_join {
		overflow: hidden;
		height: auto !important;
	}
	.recruit_join dl dt {
		width: 100% !important;
		margin-bottom: 20px;
		margin-right: 0px !important;
	}
	.recruit_join dl dt img {
		width: 100%;
	}
	.recruit_saleLeft,
	.recruit_Powermian,
	.recruit_PowerBg,
	.recruit_PowerLeft {
		width: 100% !important;
	}
	.recruit_PowerBg {
		background-position: center;
	}
	.recruit_join dl dd a.join_btn {
		width: 80% !important;
		margin: 0px auto;
	}
	.recruit_PowerLeft {
		padding: 0px !important;
	}
	.recruit_saleLeft .img1,
	.recruit_saleLeft .img2,
	.recruit_saleLeft .img3 {
		right: 0px !important;
		display: none !important;
	}
	.recruit_banner {
		display: none;
	}
	.recruit_contenttopmain {
		padding-top: 20px;
	}
	.recruit_saleLeft h1 {
		font-size: 30px;
		margin-bottom: 40px;
	}
	.recruit_join dl dd ol {
		margin-bottom: 20px;
	}
	.recruit_joinmain,
	.recruit_contenttopmain {
		padding: 20px 0px;
	}
	.hxys_main ul li h5{
		font-size: 12px;
		height: 17px;
		overflow: hidden;
	}
	.hxys_main ul li p{
		height: 51px;
		overflow: hidden;
	}
	.hxys_main ul li{
		width: 33.3333%;
		padding: 10px 0;
	}
	body{
		padding: 0px 0px 50px 0px;
	}
	.wzjs_top_l p{
		display: block;
		margin-bottom: 5px;
		line-height: 28px;
	}
	.wzjs_title{
		padding: 0px 0px 15px 0px;
	}
	.wzjs_list ul li{
		width: 100%;
		margin-right: 0px;
		margin-bottom: 10px;
	}
	.wzjs_hezuo{
		padding: 15px 0;
	}
	.wzjs_hezuo_list ul li,
	.wzyh_se2_list ul li{
		width: 49%;
	}
	.wzyh_main{
		padding: 15px 0;
		background: #2992DC;
	}
	.wzyh_se1_title h5{
		font-size: 24px;
		color: #fff;
	}
	.wzyh_se1_title p{
		display: none;
	}
	.wzyh_se1_title{
		margin-bottom: 15px;
	}
	.wzyh_se1_list ul li{
		width: 98%;
		padding: 10px 0;
	}
	.wzyh_se2_title h5, .wzyh_se3_title h5, .wzyh_se4_title h5{
		margin-bottom: 10px;
		font-size: 24px;
	}
	.wzyh_se2_list{
		padding: 0px;
	}
	.wzyh_se3_list ul li{
		width: 98%;
		margin-bottom: 5px;
	}
	.wzyh_se4_list{
		background: none;
		padding: 10px;
	}
	.wzyh_se4_list ul li{
		margin-bottom: 15px;
	}
	.list_product_title,
	.case_list_title{
		margin-bottom: 10px;
	}
	.list_product_title h5,.list_product_title h5 font{
		font-size: 20px;
	}
	.list_product_title h5 span{
		font-size: 15px;
	}
	.list_product_t ul li{
		width: 152px;
	}
	.list_product_t ul li:first-of-type{
		margin-right: 10px;
	}
	.product_list ul li{
		width: 48%;
		margin: 10px 1%;
	}
	.product_list ul li:nth-child(3n+3){
		margin-right: 1%;
	}
	.list_product_t,
	.case_list_t,
	.news_list_title,
	.news_list_t{
		padding-bottom: 10px;
		margin-bottom: 10px;
	}
	.case_list_title h5,.case_list_title h5 font,.news_list_title h5,.news_list_title h5 font{
		font-size: 24px;
	}
	.case_list_title h5 span,.news_list_title h5 span{
		font-size: 20px;
	}
	.case_list_t ul li{
		width: 50%;
		float: left;
		margin-right: 0px;
	}
	.case_list_t ul li a{
		display: block;
		width: auto;
	}
	.case_list ul li{
		width: 48%;
		margin: 5px 1%;
	}
	.news_list ul li{
		width: 100%;
		margin-right: 0px;
	}
	.news_list ul li .news_list_time h5{
		font-size: 45px;
	}
	.news_list ul li .news_list_info{
		padding: 5px;
	}
	
	.dl_container{
		width: 100%;
	}
	.dl_se1,
	.dl_se2,
	.dl_se3{
		padding: 10px 0;
	}
	.dl_se3_main_l,
	.dl_se5,
	.dl_se6{
		display: none;
	}
	.dl_se3_main_r{
		width: 100%;
		float: left;
	}
	.dl_se1 ul li{
		width: 90%;
		margin-bottom: 10px;
		height: auto;
	}
	.dl_title{
		font-size: 24px;
		margin-bottom: 15px;
	}
	.dl_se2_main p{
		line-height: 1.46;
		margin-bottom: 10px;
		font-size: 12px;
	}
	.dl_se2_main a{
		margin-top: 10px;
	}
	.dl_se3_main_r ul li{
		width: 48%;
		margin: 1% !important;
	}
	.dl_se1 ul li p{
		padding: 10px 30px;
	}
	.dl_se3_main_r ul li span{
		margin-bottom: 10px;
	}
	.dl_se3_main_r ul li p{
		font-size: 12px;
	}
	.dl_se4{
		padding: 20px 0;
	}
	.dl_se4 h5{
		font-size: 24px;
		margin-bottom: 15px;
	}
	.dl_se4 p{
		font-size: 12px;
		margin-bottom: 10px;
	}
}


/*小屏幕手机样式 结束*/
/*手机横版样式 开始*/

/*手机横版样式 结束*/
/*ipad竖版样式 开始*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.navbar-nav{
		float: none;
	}
	.in_news_list ul li .in_news_info{
		width: 89%;
	}
	.dl_se1 ul li{
		width: 30.333%;
		margin: 0 1.5%;
	}
	.m_footer_info p{
		text-align: center;
	}
	.m_footer_info p img{
		width: 50%;
	}
	.dl_title{
		    background: url(../images/dl_se2_title_bg.png) no-repeat center 15px;
	}
	.wzjs_list ul li{
		width: 50%;
	}
	.wzyh_se1_list ul li{
		width: 48%;
	}
	.wzyh_se1_list ul li:last-of-type{
		display: none;
	}
	.wzyh_se2_list ul li{
		width: 24%;
	}
	.wzyh_se3_list ul li{
		width: 48%;
	}
	.product_list ul li{
		width: 31.3333%;
	}
	.case_list_t ul li{
		width: 25%;
	}
	.case_list ul li{
		width: 31.333%;
	}
	.case_list ul li:nth-child(4n+4){
		margin-right: 1%;
	}
	.news_list ul li .news_list_time{
		width: 15%;
	}
	.news_list ul li .news_list_info{
		width: 85%;
	}
	.jx_list ul li{
		width: 48%;
		margin: 0 1%;
		margin-bottom: 10px;
	}
}
/*ipad竖版样式 结束*/
/*ipad横版样式 开始*/
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
	.logo_l{
		width: 55%;
	}
	.logo_r{
		width: 45%;
	}
	.dl_se6_main{
		background: url(../images/dl_se6_main_bg.png) no-repeat -94px center;
	}
	.dl_container{
		width: 100%;
	}
	.logo_sea{
		width: 48%;
		margin-right: 4%;
	}
	.logo_tel{
		width: 48%;
	}
	.logo_sea img, .logo_tel img{
		width: 100%;
	}
	.in_news_more{
		width: 20%;
		padding: 24px 40px;
	}
	.footer_content{
		padding-left: 25px;
	}
	.case_list_t ul li{
		width: auto;
	}
	.wzyh_se1_list ul li{
		width: 31.33%;
	}
	.wzyh_se1_list ul li:last-of-type{
		display: block;
	}
	.wzjs_list ul li{
		width: 24%;
	}
	.wzjs_list ul li h3{
		font-size: 20px;
	}
	.wzjs_list ul li h4{
		font-size: 14px;
	}
	.in_fen_main_l img{
		width: 100%;
	}
	.in_fen_main_r{
		padding: 25px 0px 0px 10px;
	}
	.in_fen_main_c span{
		    transform: rotateY(360deg);
    background: #fff;
    border-radius: 50%;
    padding: 14px;
    text-align: center;
	}
	.in_fen_main_c span i{
		color: #AF0000;
	}
	.in_news_list ul li .in_news_info{
		width: 79%;
	}
	.jx_main_l{
		width: 25%;
	}
	.jx_main_r{
		width: 73%;
	}
	.jx_list ul li{
		width: 47%;
		margin-bottom: 10px;
	}
	.recruit_container{
		min-width: 1024px;
		overflow: hidden;
	}
}
/*ipad横版样式 结束*/
/*移动端样式 结束*/